/* move it off screen */
/* reason: not displaying will prevent api.initFlow() from working */
.uploadcare {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.simplebar-content {
  height: 100%;
}
