.title {
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 0 10px;
  font-size: 0.75em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.comment {
  padding: 0 10px;
  font-size: 0.75em;
}
