.formContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 10px;
}

.popover {
  .title {
    padding: 2px 5px 2px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(46, 125, 50);
    color: white;
  }
  .row {
    padding: 2px 5px 2px 5px;
    display: flex;
    border-color: grey;
    border-width: thin;
    border-style: solid;
    border-top-style: none;
    column-gap: 5px;
    .columnLeft {
      flex-basis: 110px;
      flex-shrink: 0;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}
