.icon {
  font-size: 1.5rem;
}

.iconButton {
  max-width: 18px;
  min-height: 20px !important;
  min-width: 20px !important;
  padding: 0 !important;
  margin-top: -3px !important;
}

.zoomToIcon {
  font-size: 1.5rem;
  height: 20px !important;
}

.layer {
  display: flex;
  min-height: 24px;
  justify-content: space-between;
  padding-top: 4px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #ececec;
  }
  /*
   * z-index is needed because leaflet
   * sets high one for controls
   */
  z-index: 2000;
  /*
   * font-size is lost while moving a layer
   * because it is inherited from higher up
   */
  font-size: 12px;
}

.icons {
  display: flex;
}

.zoomTo {
  padding-left: 3px;
  min-width: 18px;
}

.mapIcon {
  font-size: 1.5rem;
  margin-right: -0.1em;
  height: 20px !important;
  paint-order: stroke;
  stroke-width: 1px;
  stroke: black;
}

.beobNichtBeurteiltMapIcon {
  color: #9a009a !important;
}

.beobNichtZuzuordnenMapIcon {
  color: #ffe4ff !important;
}

.beobZugeordnetMapIcon {
  color: #ff00ff !important;
}

.beobZugeordnetAssignPolylinesIcon {
  font-size: 1.5rem;
  margin-right: -0.1em;
  height: 20px !important;
  color: #ff00ff !important;
}
