.container {
  flex-grow: 0;
  overflow: hidden;

  .SplitPane {
    position: relative !important;
  }

  @media print {
    display: block;
    height: auto !important;
  }
}

.innerContainer {
  width: 100%;
  height: 100%;
}

.noDataContainer {
  padding: 15px;
}
