{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "root": true,
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "react/display-name": "off",
    "no-console": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": 1,
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "es2022": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ]
}
