# ensure that npm does not use packages that have been released less than 5 days ago
# reduce supply chain attacks
# https://docs.npmjs.com/cli/v11/using-npm/config#min-release-age
# not using because npm has no exemptions and we want to use newest from electric
# AND we want to pin dependencies to exact versions
# using ncu with `-c 5` instead
# min-release-age=5
# Limit the ability for npm to fetch dependencies from git references
allow-git=none
# there are always dependencies with conflicting peer dependencies, so not using force is not an option
force=true
save-exact=true
