.menu {
  width: 25%;
  min-width: 320px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 25px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}

.menuTitle {
  padding: 0 16px;
}

.menuTitleLink {
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    text-decoration: underline;
  }
}
