.formControl {
  margin-bottom: 19px !important;
  width: 100%;

  .react-datepicker-popper {
    z-index: 2;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__header {
    background-color: rgba(56, 142, 60, 0.1) !important;
  }

  &:focus-within label {
    color: rgb(46, 124, 50) !important;
  }
}

.labelClass {
  font-size: 12px !important;
  color: rgb(0, 0, 0, 0.54);
  position: relative !important;
  transform: none !important;
}

.datePicker {
  width: 100%;
  padding: 0.25rem 0;
  color: #495057;
  background-color: #fff;
  font-size: 1rem;
  background-clip: padding-box;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: transparent;

  &:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border-bottom: 2px solid #2e7d32;
    box-shadow: none;
    background-color: transparent;
  }
}
