.container {
  background-color: #ffd3a7;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  min-height: 46px;
  @media print {
    display: none !important;
  }
}

.titleRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterNumbers {
  padding-right: 8px;
  cursor: default;
  user-select: none;
  margin-top: 2px;
}

.deleteFilterIcon {
  cursor: pointer;
  pointer-events: auto;
}
