.fieldWithInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  break-inside: avoid;
}

.popoverContentRow {
  padding: 2px 5px 2px 5px;
  display: flex;
  border-color: grey;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
}

.statusContainer {
  padding-top: 10px;
  break-inside: avoid;
}

.herkunftContainer {
  display: flex;
  margin-top: -2px;
  flex-wrap: wrap;
}

.herkunftColumnContainer {
  padding-right: 25px;
  overflow: visible !important;
  display: flex;
  flex-direction: column;
}

.herkunftColumnContainerLast {
  overflow: visible !important;
}

.groupLabelContainer {
  padding-bottom: 2px;
}

.input {
  &:before {
    border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.radio {
  height: 2px !important;
}

.label {
  margin-top: 10px;
  cursor: text;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  user-select: none;
  padding-bottom: 8px;
}
