.formControl {
  padding-bottom: 19px !important;

  > div:before {
    border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.popoverContentRow {
  padding: 2px 5px 2px 5px;
  display: flex;
  border-color: grey;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
}
