.h3 {
  margin: 7px 0;
}

.button {
  text-transform: none;
  justify-content: left;
  padding: 2px 0;
}

.absenz {
  color: red;
  font-weight: bold;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
}

.tooltip {
  &:before {
    content: none !important;
  }
}
