# see: https://caddyserver.com/docs/caddyfile/concepts
{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  #debug
}

api.apflora.ch {
  reverse_proxy * apf_graphql:5000 {
    header_down Access-Control-Allow-Origin *
  }
}

ss.apflora.ch {
  reverse_proxy * ss:7000 {
    header_down Access-Control-Allow-Origin *
    header_down Access-Control-Allow-Methods "GET, POST, OPTIONS"
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-For {http.request.remote}
    header_up X-Forwarded-Port {http.request.port}
    header_up X-Forwarded-Proto {http.request.scheme}
  }
}

# caddy docs: 
# https://caddyserver.com/docs/modules/http.reverse_proxy.transport.fastcgi
# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
# example: https://github.com/opengisch/qgisserver-caddy/blob/master/Caddyfile
# nginx example: https://docs.qgis.org/3.10/en/docs/user_manual/working_with_ogc/server/containerized_deployment.html#usable-sample
gisdata.apflora.ch {
  reverse_proxy * qgisserver:5555 {
    transport fastcgi
  }
}