.container {
  background-color: white;
  border: 1px solid #2e7d32;
  opacity: 0.8;
  padding: 8px;
}

.title {
  font-size: 1em;
  font-weight: 700;
}

.row {
  font-size: 0.8em;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.label {
  padding-right: 5px;
}
