.layer {
  display: flex;
  flex-direction: column;
  min-height: 24px;
  padding-top: 4px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #ececec;
  }
  /*
   * z-index is needed because leaflet
   * sets high one for controls
   */
  z-index: 2000;
  /*
   * font-size is lost while moving a layer
   * because it is inherited from higher up
   */
  font-size: 12px;
}

.comments {
  padding-left: 21px;
}

.comment2 {
  padding-left: 3px;
}
