.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 10px;
}

.input {
  &:before {
    border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.button {
  text-transform: none !important;
  margin-bottom: 10px !important;
}

.passwordMessage {
  padding-bottom: 10px;
}

.passwordRequirements {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 8px;
  gap: 2px;

  & .MuiFormControlLabel-root {
    margin: 0;

    & .MuiCheckbox-root {
      padding: 4px;
    }

    & .MuiTypography-root {
      font-size: 0.85rem;
    }
  }
}
