.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  border-right: 1px solid rgb(46, 125, 50);
  box-sizing: border-box !important;
}
