.outerContainer {
  box-sizing: border-box;
  cursor: pointer;
  outline: 1px solid rgba(46, 125, 50, 0.5);
  &:hover {
    background-color: rgb(255, 250, 198) !important;
  }
  &:last-of-type {
    border-bottom: 1px solid rgba(46, 125, 50, 0.5);
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
