.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 5px 10px 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 81px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.anleitungButton {
  text-transform: none !important;
  height: 2em;
  min-width: 9em !important;
  font-size: 0.75rem !important;
  padding: 2px 15px !important;
  margin-left: -15px;
  margin-top: 28px;
  line-height: unset !important;
}

.filterResetButton {
  text-transform: none !important;
  height: 2em;
  min-width: 9em !important;
  font-size: 0.75rem !important;
  padding: 2px 5px !important;
  margin-left: -15px;
  margin-top: 3px;
  line-height: unset !important;
}
