.link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  div {
    margin: auto;
  }
  svg {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.77);
  }
}
