.cell {
  display: flex;
  justify-content: space-evenly;
  color: black;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 60px;
  border-left: solid hsla(120, 25%, 70%, 1) 1px;
  border-right: solid hsla(120, 25%, 70%, 1) 1px;
  border-bottom: solid #e6e6e6 1px;
  background: hsla(120, 25%, 88%, 1);
  cursor: pointer;
  box-sizing: border-box;
  height: 60px;
  flex-basis: 54px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 2px 0 2px 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdown {
  font-size: 1.3em;
}
