.container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}

.title {
  position: absolute;
  margin-top: 0;
  left: 10px;
  z-index: 3;
  top: 2px;
}
