.dialogTitle {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 16px 5px 16px;
}

.listItem {
  font-size: 0.85rem;
  user-select: none;
}

.codeText {
  font-family:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Mono', 'Source Code Pro', 'Fira Mono',
    'Droid Sans Mono', 'Consolas', 'Courier New', monospace;
  font-size: 0.85rem;
}

.anwendungsfallText {
  font-size: 0.85rem;
}
