.dialogTitle {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 16px 5px 16px;
}

.listItem {
  font-size: 0.85rem;
  user-select: none;
}

.codeText {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.85rem;
}

.anwendungsfallText {
  font-size: 0.85rem;
}
