#täglich um 0 Uhr apflora dumpen und auf dropbox verschieben
# 0 23 * * * root /backup.sh
# test: every 5 minutes
*/5 * * * 1-4 /backup.sh
# An empty line is required at the end of this file for a valid cron file.