.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.massnContainer {
  position: relative;
  width: 17px;
  height: 17px;
  flex-grow: 0;
  flex-basis: 19px;
  flex-shrink: 0;
}

.massnSymbol {
  font-size: 1.1rem;
  color: #2e7d32;
}

.nrOfMassn {
  font-weight: 700;
  font-size: smaller;
  position: absolute;
  bottom: -2px;
  right: 0;
  color: red;
}

.sumCounted {
  margin-left: 3px;
  flex-grow: 0;
  flex-basis: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
