.row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .Difference > del {
    background-color: rgb(201, 238, 211);
    text-decoration: none;
  }

  .Difference > ins {
    padding-left: 2px;
    background-color: rgba(216, 67, 21, 0.2);
    text-decoration: none;
  }
}

.key {
  width: 225px;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.54);
}
