.container {
  display: flex;
  flex-direction: column;
  break-before: page;
  font-size: 12px;
  line-height: 1.1em;
  @media screen {
    margin-top: 1cm;
  }
  @media print {
    /*padding-top: 0.3cm !important;*/
    margin-top: 0.3cm !important;
  }
}

.avRow {
  display: flex;
  padding: 0.05cm 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  page-break-inside: avoid;
}

.nonAvRow {
  display: flex;
  padding: 0.05cm 0;
}

.avClass {
  min-width: 5cm;
  max-width: 5cm;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
