.container {
  break-before: page;
  font-size: 11px;
  @media screen {
    margin-top: 3cm;
  }
  @media print {
    margin-top: 0.3cm !important;
    /* get background colors to show */
    -webkit-print-color-adjust: exact;
  }
}

.table {
  display: grid;
  /* need the minmax 0 value to prevent long art names from pushing to the right */
  grid-template-columns: minmax(0, 12fr) repeat(10, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -1px;
  margin-right: -1px;
}

.overallTitle {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.apTitle {
  font-weight: 700;
  grid-column: 1;
  grid-row: 1 / span 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 4px;
}

.ap {
  display: inline-block;
  grid-column: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgSpanningTitle {
  font-weight: 700;
  grid-column: 2 / span 7;
  grid-row: 1;
  text-align: center;
  padding-top: 4px;
}

.erfolgNicht {
  grid-column: 2;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgWenig {
  grid-column: 3;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgMaessig {
  grid-column: 4;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgGut {
  grid-column: 5;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgSehr {
  grid-column: 6;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgVeraenderung {
  grid-column: 7;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgUnsicher {
  grid-column: 8;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.erfolgNichtBeurteilt {
  grid-column: 9;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.keineMassnahme {
  grid-column: 10;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.apExists {
  grid-column: 11;
  height: 1em;
  align-self: center;
  text-align: center;
  font-weight: 600;
  @media print {
    /* does not work - break is hideous :-( */
    page-break-inside: avoid;
  }
}

.keineMassnTitle {
  font-weight: 700;
  grid-column: 10;
  grid-row: 1 / span 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  writing-mode: vertical-lr;
  padding: 3px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 1em;
  }
}

.apExistsTitle {
  font-weight: 700;
  grid-column: 11;
  grid-row: 1 / span 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  writing-mode: vertical-lr;
  padding: 3px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 1em;
  }
}

.erfolgNichtBeurteiltTitle {
  font-weight: 700;
  grid-column: 9;
  grid-row: 1 / span 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgNichtTitle {
  grid-column: 2;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: red;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgWenigTitle {
  grid-column: 3;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: orange;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgMaessigTitle {
  grid-column: 4;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: yellow;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgGutTitle {
  grid-column: 5;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #00f6ff;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgSehrTitle {
  grid-column: 6;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #00ff00;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgAenderungTitle {
  grid-column: 7;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}

.erfolgUnsicherTitle {
  grid-column: 8;
  grid-row: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #afafaf;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding-bottom: 3px;
  padding-top: 3px;
  /* needed because of bug (?) in print mode
   * where not full height is taken */
  height: 79px;
  > div {
    transform: rotate(180deg);
    transform-origin: center center 0;
    line-height: 2.6em;
  }
}
