.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.div {
  width: 19px;
  height: 19px;
  border-radius: 3px;
  transition: all 150ms;
  margin: auto;
}

.icon {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
