.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  content-visibility: auto;
  contain-intrinsic-size: auto 45px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: thin;
}

.row {
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  min-height: 35px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: rgba(103, 216, 101, 0.07);
  }
  border-top: rgba(46, 125, 50, 0.5) solid 1px;
  &:last-child {
    border-bottom: rgba(46, 125, 50, 0.5) solid 1px;
  }
}
