.outerContainer {
  position: relative;
  &::after,
  &::before {
    background: rgb(255, 253, 231);
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: '';
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 2em;
    z-index: 1;
  }
  padding-left: 25px;
  &:last-of-type {
    padding-left: 10px;
  }
  &:first-of-type {
    margin-right: 15px;
  }
}

.container {
  margin-right: -10px;
  position: relative;
  border-collapse: collapse;
  transition: background 0.2s linear;
  max-width: 45vw;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  &::after,
  &::before {
    background: rgb(46, 125, 50);
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: '';
    left: calc(100% - 8.3px);
    position: absolute;
    top: 0.5px;
    transition: background 0.2s linear;
    width: 2em;
    z-index: 1;
  }
  &::before {
    background: rgb(255, 253, 231);
    margin-left: 1px;
  }
}
