.div {
  display: flex;
  flex-direction: column;
  padding: 0 24px 10px;
}

.setupDiv {
  display: flex;
  flex-direction: column;
  padding: 0 24px 10px;
  overflow: visible;
}

.input {
  &:before {
    border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.setupMessage {
  margin: 0 0 20px 0;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}
