.li {
  margin-top: -6px;
  margin-bottom: -3px;
}

.ewm {
  margin-top: -14px;
  margin-bottom: 3px;
}



.progress {
  font-style: italic;
  animation: blinker 1s linear infinite;
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
