.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8rem !important;
  line-height: 1rem !important;
  padding-bottom: 5px;
}

.titleRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.apTitle {
  margin: 4px 0;
}

.plusIcon {
  font-size: 1rem !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
