.outerContainer {
  display: block;
  height: 100%;
  overflow: hidden;
}

.container {
  position: relative;

  @media print {
    display: block;
    height: auto !important;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overflowingPane {
  overflow: auto !important;
  scrollbar-width: thin;
}

.overflowingDiv {
  overflow: auto;
  scrollbar-width: thin;
  height: 100%;
  width: 100%;
}
