.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 10px;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 2px;
}
