.outerContainer {
  container-type: inline-size;
  padding: 0 10px 0 10px;
}

/* this does not work as using variables inside media queries does not seem to work*/
/* .container {
  @container (min-width: calc(var(--column-width)*1.7)) {
    columns: 2;
  }
  @container (min-width: calc(var(--column-width) + calc(var(--column-width)*1.7))) {
    columns: 3;
  }
} */

.container {
  @container (min-width: calc(600px*1.7)) {
    columns: 2;
  }
  @container (min-width: calc(600px + calc(600px*1.7))) {
    columns: 3;
  }
}

.explainer {
  padding: 10px 5px;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}
