html {
  --column-width: 600px;
  /**
   * need to pass the height of the self built controls
   * to move controls built by leaflet when layer menu changes height
   * Beware: If initial value is wrong, map will render twice
   */
  --map-control-height: 167px;
}

.OsmBw {
  .leaflet-tile-container {
    filter: grayscale(100%) !important;
  }
}
