/**
 * global styles
 */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

body.fontLoaded {
  font-family: 'Roboto', sans-serif;
}

:global(#root) {
  background-color: rgb(48, 48, 48);
  min-height: 100%;
  min-width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
}

:global(#root) > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:global a {
  color: orange;
}

/*
 * context menu
 */

:global .react-contextmenu {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: rgb(66, 66, 66);
  background-clip: padding-box;
  border: 1px solid grey;
  border-radius: .25rem;
  outline: none;
  opacity: 0;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
}

:global .react-contextmenu.react-contextmenu--visible {
  color: white;
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

:global .react-contextmenu-title {
  opacity: 0;
}

:global .react-contextmenu--visible .react-contextmenu-title {
  color: #b3b3b3;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 3px;
  opacity: 1;
}
:global .react-contextmenu-title::after {
  content: ":";
}

:global .react-contextmenu > .react-contextmenu-item {
  display: inline-block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

:global .react-contextmenu-item.active,
:global .react-contextmenu-item:hover {
  color: orange;
  border-color: #0275d8;
  text-decoration: none;
}
:global .react-contextmenu-divider {
  border-top: 1px solid grey;
  margin-top: 4px;
  margin-bottom: 7px;
}
:global .react-contextmenu-submenu {
  padding-right: 27px !important;
}

:global .react-contextmenu-submenu:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
  bottom: 3px;
}

/*
 * leaflet tooltips
 */

:global .mapTooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 4px 2px 0 2px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-shadow: 0 1px 0 white, -0 -1px 0 white, 1px 0 0 white, -1px 0 0 white, 0 2px 1px white, -0 -2px 1px white, 2px 0 1px white, -2px 0 1px white, 0 3px 2px white, -0 -3px 2px white, 3px 0 2px white, -3px 0 2px white;
}
:global .leaflet-tooltip-bottom.mapTooltip:before {
  border-bottom-color: transparent;
}
:global .leaflet-tooltip-left.mapTooltip::before {
  border-left-color: transparent;
}
:global .leaflet-tooltip-right.mapTooltip::before {
  border-right-color: transparent;
}

/**
 * leaflet-measure
 */
.leaflet-control-measure {
  color: black;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  box-shadow: none;
}

/**
 * leaflet maps
 */

.popCluster {
	width: 40px;
	height: 40px;
  line-height: 40px;
	text-align: center;
	background-color: #9c8001;
	/*font-size: 24px;*/

  background-clip: padding-box;
	border-radius: 20px;
}
.popClusterHighlighted {
	width: 40px;
	height: 40px;
  line-height: 28px;
	text-align: center;
	background-color: #9c8001;
  border: 7px solid yellow;
  box-sizing: border-box;

  background-clip: padding-box;
	border-radius: 20px;
}
.popCluster span {
	line-height: 30px;
}

.tpopCluster {
	width: 40px;
	height: 40px;
  line-height: 40px;
	text-align: center;
	background-color: #006d11;

  background-clip: padding-box;
	border-radius: 20px;
}
.tpopClusterHighlighted {
	width: 40px;
	height: 40px;
  line-height: 28px;
	text-align: center;
	background-color: #006d11;
  border: 7px solid yellow;
  box-sizing: border-box;

  background-clip: padding-box;
	border-radius: 20px;
}
.tpopCluster span {
	line-height: 30px;
}

#leafletEasyPrint {
  width: 44px;
  height: 44px;
}

@media print {
  .leaflet-control-container {
    display: none !important;
  }
}

/* scrollbars */


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
