/**
 * global styles
 */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

body.fontLoaded {
  font-family: 'Roboto', sans-serif;
}

:global(#root) {
  background-color: rgb(48, 48, 48);
  min-height: 100%;
  min-width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
}

:global(#root) > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:global a {
  color: orange;
}

/*
 * context menu
 */

:global .react-contextmenu {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: rgb(66, 66, 66);
  background-clip: padding-box;
  border: 1px solid grey;
  border-radius: .25rem;
  outline: none;
  opacity: 0;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
}

:global .react-contextmenu.react-contextmenu--visible {
  color: white;
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

:global .react-contextmenu-title {
  opacity: 0;
}

:global .react-contextmenu--visible .react-contextmenu-title {
  color: #b3b3b3;
  padding-left: 10px;
  opacity: 1;
}
:global .react-contextmenu-title::after {
  content: ":";
}

:global .react-contextmenu > .react-contextmenu-item {
  display: inline-block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

:global .react-contextmenu-item.active,
:global .react-contextmenu-item:hover {
  color: orange;
  border-color: #0275d8;
  text-decoration: none;
}
:global .react-contextmenu-submenu {
  padding-right: 27px !important;
}

:global .react-contextmenu-submenu:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
  bottom: 3px;
}

/*
 * leaflet tooltips
 */

:global .mapTooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 4px 2px 0 2px;
  width: 150px;
}
:global .mapTooltip > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-shadow: 0 1px 0 white, -0 -1px 0 white, 1px 0 0 white, -1px 0 0 white, 0 2px 0 white, -0 -2px 0 white, 2px 0 0 white, -2px 0 0 white, 0 3px 1px white, -0 -3px 1px white, 3px 0 1px white, -3px 0 1px white, 0 4px 2px white, -0 -4px 2px white, 4px 0 2px white, -4px 0 2px white, 0 5px 2px white, -0 -5px 2px white, 5px 0 2px white, -5px 0 2px white, 0 6px 2px white, -0 -6px 2px white, 6px 0 2px white, -6px 0 2px white, 0 7px 4px white, -0 -7px 4px white, 7px 0 4px white, -7px 0 4px white;
}
:global .leaflet-tooltip-bottom.mapTooltip:before {
  border-bottom-color: transparent;
}
:global .leaflet-tooltip-left.mapTooltip::before {
  border-left-color: transparent;
}
:global .leaflet-tooltip-right.mapTooltip::before {
  border-right-color: transparent;
}

/**
 * leaflet-measure
 */
.leaflet-control-measure {
  color: black;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}
