.container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 4px;
}

.contentWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.menuTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.6666667px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: bold;
  min-height: 40px;
}

.title {
  padding: 0 16px;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

.filters {
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
}

.apFilterFitter {
  margin-top: -14px;
  margin-left: 15px;
  margin-right: -15px;
  width: 58px;
}
