.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fieldsContainer {
  padding: 24px;
  padding-top: 0;
  overflow: auto !important;
  scrollbar-width: thin;
  height: 100%;
}

.input {
  &:before {
    border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.passwordMessage {
  padding-bottom: 10px;
}

.formContainer {
  padding: 10px;
}

.abmeldenButton {
  margin-top: 8px;
}
